* {
    /* background-color: #a52a2a; */

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: darkorange;
    font-size: 20px;
}

h1{
    color: blueviolet;
    text-align: center;
}

img{
    width: 200px;
}

div{
    text-align: center;
}

.listas{
    color:aqua
}


#rojo {
    border: 5px dotted red;

}

#azul {
    border: 5px dotted blue;
}